.tableOfContent {
  min-width: 12%;
  max-width: 18%;
}
.tableOfContent ul {
  list-style: none;
  border-left: 2px solid grey;
  padding-left: 1rem;
}
.tableOfContent ul:nth-child(2) {
  border: none;
}
.tableOfContent ul li {
  padding: .1rem 0;
  font-style: italic;
  font-size: .75rem;
}
